@page "/button"

<MwcGrid>
    <MwcGridCell>
        <h3>Default</h3>
        <MwcButton Label="Standard"></MwcButton>
        <MwcButton Icon="code" Label="Standard"></MwcButton>
    </MwcGridCell>
    <MwcGridCell>
        <h3>Outlined</h3>
        <MwcButton Outlined Label="Outlined"></MwcButton>
        <MwcButton Outlined Icon="code" Label="Outlined"></MwcButton>
    </MwcGridCell>
    <MwcGridCell>
        <h3>Raised</h3>
        <MwcButton Raised Label="Raised"></MwcButton>
        <MwcButton Raised Icon="code" Label="Raised"></MwcButton>
    </MwcGridCell>
    <MwcGridCell>
        <h3>Unelevated</h3>
        <MwcButton Unelevated Label="Unelevated"></MwcButton>
        <MwcButton Unelevated Icon="code" Label="Unelevated"></MwcButton>
    </MwcGridCell>
    <MwcGridCell>
        <h3>Dense</h3>
        <MwcButton Dense Label="Dense"></MwcButton>
        <MwcButton Dense Icon="code" Label="Dense"></MwcButton>
    </MwcGridCell>
    <MwcGridCell>
        <h3>Trailing icon</h3>
        <MwcButton TrailingIcon Icon="code" Label="Trailing icon"></MwcButton>
    </MwcGridCell>
    <MwcGridCell>
        <h3>Disabled</h3>
        <MwcButton Icon="code" Label="Disabled" Disabled></MwcButton>
        <MwcButton Icon="code" Label="Disabled Outlined" Disabled Outlined></MwcButton>
        <MwcButton Icon="code" Label="Disabled Raised" Disabled Raised></MwcButton>
    </MwcGridCell>
    <MwcGridCell>
        <h3>Custom color</h3>
        <MwcButton style="--mdc-theme-primary: #e9437a; --mdc-theme-on-primary: white;" Raised Icon="android" Label="Custom Color"></MwcButton>
    </MwcGridCell>
    <MwcGridCell>
        <p>Rember to include https://fonts.googleapis.com/css?family=Material+Icons&display=block for icons</p>
        <h3>Additional references</h3>
        <p>see more <a href="https://github.com/material-components/material-components-web-components/tree/master/packages/button">material-components-web-components</a></p>
    </MwcGridCell>
</MwcGrid>