@page "/ripple";

<h1>Ripple</h1>
<style>
    .ripple {
        padding: 20px;
        user-select: none;
        cursor: pointer;
    }
</style>

<h3 class="ripple">
    <span>Default Ripple</span>
    <MwcRipple></MwcRipple>
</h3>

<h3 class="ripple">
    <span>Primary</span>
    <MwcRipple Primary></MwcRipple>
</h3>

<h3 class="ripple">
    <span>Accent</span>
    <MwcRipple Accent></MwcRipple>
</h3>